@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
}

a {
  color: black;
}

/*--- RESET/NORMALIZE ---*/
body, h1, h2, h3, h4, h5, h6, figure, pre, dl, dd, blockquote, input[type=radio], input[type=checkbox] {
  margin: 0;
}

legend {
  padding: 0;
}

fieldset, ul, ol {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

body {
  line-height: 1;
}

main, figure, figcaption, img {
  display: block;
} /*--- <main> for IE 11 ---*/
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
}

input, textarea, select, button {
  display: block;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

label {
  display: table;
}

input[type=text], input[type=email], input[type=password], input[type=search] button {
  line-height: inherit;
}

button::-moz-focus-inner {
  border: 0;
} /*--- for Firefox ---*/
html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.25em;
} /*--- optional base font size ---*/
/* ---Color principal --- */
/* ---background-color ---*/
/* --- color Main boutton -- */
/* --- Responsive ---*/
/*--- Heart-effect ---*/
/* --- Responsive template --- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 3px 3px rgb(213, 213, 213);
  padding: 0.9rem;
  z-index: 1;
  position: relative;
}
.header i {
  position: absolute;
  bottom: 1.3rem;
  left: 1rem;
}
.header img {
  display: block;
  margin: auto;
  padding-top: 10px;
}

.footer {
  background: #353535;
  color: #FFFFFF;
  padding: 25px;
  padding-bottom: 2rem;
}
.footer__title {
  font-family: "shrikhand", cursive;
  font-weight: normal;
  margin-bottom: 20px;
}
.footer li {
  margin-bottom: 0.5em;
  font-size: 0.8em;
}
.footer a {
  color: #FFFFFF;
}
.footer a:hover {
  color: #99E2D0;
}
.footer i {
  margin-right: 0.9em;
  font-size: 0.7em;
}
.footer .fa-handshake-angle {
  font-size: 0.6em;
}

/*--- Responsive large screen ---*/
.footer__link {
  max-width: 1400px;
  margin: 0 auto;
}

.footer__title {
  max-width: 1400px;
  margin: 0 auto 20px auto;
}

/* -- Presentation - réception --*/
.receptionbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #F7F7F7;
}
.receptionbox__localisation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EAEAEA;
}
.receptionbox__localisation p {
  margin-left: 0.2rem;
  padding: 0.4rem;
  position: relative;
}
.receptionbox__localisation p i {
  position: absolute;
  left: -3ch;
  height: 1rem;
  font-size: 0.8rem;
}
.receptionbox__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #F7F7F7;
  margin: 1.4rem;
  text-align: center;
}
.receptionbox__presentation h2 {
  margin: 0.3rem;
  padding: 0.4rem;
  font-weight: 800;
}
.receptionbox__presentation p {
  font-weight: 200;
  margin: 0;
}
.receptionbox__presentation a {
  font-size: 0.8rem;
}

/* -- How to works -- */
.steps {
  /*@include flex(column, center, center, nowrap);*/
  margin: 3rem 1rem;
}
.steps h3 {
  margin: 1.1rem 0;
}
.steps__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;
  counter-reset: count;
}
@media screen and (min-width: 992px) {
  .steps__list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3rem;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.steps__list li {
  counter-increment: count;
  position: relative;
}
.steps__list li:before {
  content: counter(count, decimal-leading-one);
  position: absolute;
  text-align: center;
  width: 1rem;
  padding: 0.2rem;
  aspect-ratio: 1/1;
  background: #9356dc;
  border-radius: 100%;
  font-size: 0.9em;
  color: white;
  bottom: 1rem;
  left: -15px;
}
.steps .stepbtn i {
  margin-right: 1.3rem;
  margin-left: 1rem;
  color: rgb(90, 90, 90);
  font-size: 1rem;
}
.steps .stepbtn__title {
  font-weight: bold;
  white-space: nowrap;
}

/* -- Restaurant Card -- */
.card-restaurant {
  background-color: #F7F7F7;
  padding: 0.3rem;
  padding-bottom: 1.5rem;
}
.card-restaurant h3 {
  padding: 2rem 0 0.1rem 0.8rem;
}
.card-restaurant__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8rem;
  padding: 0.7rem;
}
@media screen and (min-width: 600px) {
  .card-restaurant__list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

/*-- Responsive Large screen  --*/
@media screen and (min-width: 1400px) {
  body {
    margin: 0 auto;
    width: 100%;
  }
  .card-restaurant h3 {
    max-width: 1400px;
    margin: 0 auto;
  }
  .card-restaurant__list {
    display: grid;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    max-width: 1400px;
  }
  .steps h3 {
    max-width: 1400px;
    margin: 1rem auto;
  }
}
.heading-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.heading-img__container {
  width: 100%;
  height: 11rem;
}
.heading-img__container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurant-name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  background: #F7F7F7;
  border-radius: 30px 30px 0 0;
  padding-top: 1rem;
  margin-top: -50px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
.restaurant-name h2 {
  font-family: "shrikhand", cursive;
  padding: 0.4rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.restaurant-name__icone {
  position: absolute;
  font-size: 1.5rem;
  right: 2rem;
  bottom: 0.6rem;
}
.restaurant-name__icone i {
  z-index: 0;
  position: relative;
}
.restaurant-name__icone i:hover::after {
  opacity: 1;
}
.restaurant-name__icone i::after {
  position: absolute;
  z-index: 0;
  opacity: 0;
  content: "\f004";
  transition: opacity 300ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #9356DC;
  font-weight: 700;
}

.menu {
  background-color: #F7F7F7;
  margin: 0;
  padding-top: 1rem;
}
@media screen and (min-width: 992px) {
  .menu {
    display: grid;
    gap: 5%;
    grid-template-columns: 30% 30% 30%;
  }
}

/* -- Entry list -- */
.entry {
  margin-bottom: 1rem;
}
.entry h4 {
  margin-left: 0.8rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.entry h4::after {
  content: "";
  margin: 0.3rem 0;
  width: 2.2rem;
  height: 0.2rem;
  background-color: #99E2D0;
}
.entry__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.3rem 0.8rem;
}

/* -- Dessert list -- */
.dessert h4 {
  margin-left: 0.8rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.dessert h4::after {
  content: "";
  margin: 0.3rem 0;
  width: 2.2rem;
  height: 0.2rem;
  background-color: #99E2D0;
}
.dessert__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0rem 0.8rem;
}

/* -- Main-course list -- */
.main-course {
  margin-bottom: 1rem;
}
.main-course h4 {
  margin-left: 0.8rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.main-course h4::after {
  content: "";
  margin: 0.3rem 0;
  width: 2.2rem;
  height: 0.2rem;
  background-color: #99E2D0;
}
.main-course__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.3rem 0.8rem;
}

/* -- Order button -- */
.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #F7F7F7;
  margin: 0;
  padding-bottom: 0.7rem;
}
.order a {
  font-size: 0.8rem;
}

/* -- responsive Large screen--*/
@media screen and (min-width: 1400px) {
  .restaurant-name {
    max-width: 1400px;
    margin: -50px auto;
  }
  .menu {
    max-width: 1400px;
    margin: 2rem auto 0 auto;
  }
  .order {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.receptionbox__btn {
  margin: 1.2rem auto;
  width: 11rem;
  border-radius: 100vw;
  text-align: center;
  padding: 0.8rem;
  background: linear-gradient(170deg, hsl(310deg, 81%, 70%) 0%, hsl(272deg, 65%, 61%) 80%);
  color: #FFFFFF;
  box-shadow: 0px 7px 10px rgba(170, 168, 168, 0.4);
}
.receptionbox__btn:hover {
  background: linear-gradient(170deg, rgb(243, 130, 224) 0%, rgb(168, 108, 220) 80%);
  box-shadow: 0px 8px 11px rgba(97, 97, 97, 0.4);
  text-shadow: 0 0 0 #FFFFFF;
}

.stepbtn {
  width: 95%;
  background-color: #F7F7F7;
  border-radius: 20px;
  padding: 0.5rem;
  box-shadow: 0px 7px 10px rgba(170, 168, 168, 0.4);
}
.stepbtn:hover {
  background-color: rgb(249, 242, 249);
}
.stepbtn:hover i {
  color: #9356dc;
  transform: scale(1.2);
  transition: transform 0.25s ease-in-out;
}

.menu-btn {
  background-color: #FFFFFF;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  padding: 0.6rem 0 0.3rem 0.4rem;
  margin: 0.5rem;
  box-shadow: 0px 7px 10px rgba(170, 168, 168, 0.4);
  position: relative;
  animation: menu-appear 500ms both ease-in-out;
}
.menu-btn--1 {
  animation-delay: 10ms;
}
.menu-btn--2 {
  animation-delay: 20ms;
}
.menu-btn--3 {
  animation-delay: 30ms;
}
.menu-btn--4 {
  animation-delay: 40ms;
}
.menu-btn--1 {
  animation-delay: 100ms;
}
.menu-btn--2 {
  animation-delay: 300ms;
}
.menu-btn--3 {
  animation-delay: 500ms;
}
.menu-btn--4 {
  animation-delay: 700ms;
}
.menu-btn:hover p {
  width: 60%;
}
.menu-btn:hover .price {
  transform: translateX(-3.2rem);
}
.menu-btn:hover .slide {
  right: 0;
}
.menu-btn:hover .slide i {
  transform: rotate(360deg);
}
.menu-btn .slide {
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  top: 0;
  position: absolute;
  right: -20%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform-origin: right;
  transition: right 300ms;
  text-align: center;
}
.menu-btn .slide i {
  margin-top: 20%;
  font-size: 1.8rem;
  color: white;
  transform: rotate(0);
  transition: transform 500ms;
}

.card {
  border-radius: 25px;
  width: 100%;
  box-shadow: 0px 7px 10px rgba(170, 168, 168, 0.4);
}
.card p {
  padding: 0.3rem;
  margin: 0;
  font-weight: 300;
}
.card h4 {
  font-weight: 500;
  padding: 0.2rem;
}
.card__img {
  width: 100%;
  height: 8rem;
  position: relative;
}
.card__img img {
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.card__new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.3rem 0.6rem;
  background: #71d7be;
  color: #1b6150;
  font-weight: 400;
  z-index: 1;
}
.card__body {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0 0 25px 25px;
  padding: 0.5rem;
  position: relative;
}
.card__title {
  margin: 0;
  padding: 0;
}
.card__heart {
  position: absolute;
  right: 1.1rem;
  bottom: 1.3rem;
  font-size: 1.4rem;
}
.card__heart i {
  z-index: 0;
  position: relative;
}
.card__heart i:hover::after {
  opacity: 1;
}
.card__heart i::after {
  position: absolute;
  z-index: 0;
  opacity: 0;
  content: "\f004";
  transition: opacity 300ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #9356DC;
  font-weight: 700;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  animation: content-appear 3s ease-in-out both;
}

.border-frame1 {
  width: 125px;
  height: 125px;
  padding: 5px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: #FF79DA;
  animation: square-spinning 3s ease-in-out 0s infinite alternate;
}

.border-frame2 {
  width: 125px;
  height: 125px;
  padding: 5px;
  left: -115px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: #99E2D0;
  transform: rotate(45deg);
  animation: square-spinning2 3s ease-in-out 0s infinite alternate;
}

.inside-frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #353535;
  padding-right: 2px;
  padding-top: 2px;
}
.inside-frame__ball {
  padding-top: 20px;
  border-radius: 100vw;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
}
.inside-frame__ball1 {
  animation: beat 0.4s ease 0s infinite alternate;
}
.inside-frame__ball2 {
  animation: beat 0.4s ease 0.2s infinite alternate;
}
.inside-frame__ball3 {
  animation: beat 0.4s ease 0.4s infinite alternate;
}

@keyframes menu-appear {
  from {
    opacity: 0;
    transform: translateY(15%);
  }
  to {
    opacity: 1;
    transform: translateY(1);
  }
}
@keyframes slide-confirmation {
  from {
    transform: scale(0);
  }
  to {
    transform: scalex(1);
  }
}
/* -- Animation loader -- */
@keyframes square-spinning {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes square-spinning2 {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
@keyframes content-appear {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes beat {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.7);
  }
}
.entry__list span, .dessert__list span, .main-course__list span {
  margin: 0.2rem;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.entry__list p, .dessert__list p, .main-course__list p {
  margin: 0.2rem;
  padding-bottom: 0.15rem;
  padding: 0.1rem 0;
  font-size: 0.7rem;
  width: 80%;
  min-width: 60%;
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 0.4s;
}
.entry__list .price, .dessert__list .price, .main-course__list .price {
  position: absolute;
  right: 1rem;
  top: 1.7rem;
  transition: transform 300ms;
}

/*# sourceMappingURL=style.css.map */
