.receptionbox__btn {
    margin: 1.2rem auto;
    width: 11rem;
    border-radius: 100vw;
    text-align: center;
    padding: 0.8rem; 
    background: $linear-btn;
    color: $white;
    @include shadow-effect;
    &:hover {
        background: $linear-btn-light;
        @include shadow-effect-dark;
        text-shadow: 0 0 0 $white;
    }
}

.stepbtn {
    width: 95%;
    background-color: $grey-xlight;
    border-radius: 20px;
    padding: 0.5rem;
    @include shadow-effect; 
    &:hover {
        background-color: rgb(249, 242, 249);
        i {
            color: #9356dc;
            transform: scale(1.2);
            transition: transform 0.25s ease-in-out;
        }

    }  
}

.menu-btn {
    background-color: $white;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
    padding: .6rem 0 .3rem .4rem ;
    margin: 0.5rem;
    @include shadow-effect; 
    position: relative;
    animation: menu-appear 500ms both ease-in-out;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 10ms * $i;
        }
        }
    &--1 {
        animation-delay: 100ms;
    }
    &--2 {
        animation-delay: 300ms;
    }
    &--3 {
        animation-delay: 500ms;
    }
    &--4 {
        animation-delay: 700ms;
    }
    &:hover p {
        width:60%;
    }
    &:hover .price {
     transform: translateX(-3.2rem);
    }
    &:hover .slide {
        right: 0;
        i {
            transform: rotate(0);
        }
    }
    
    .slide {
        width: 20%;
        height: 100%;
        background-color: $color-tertiary;
        top: 0;
        position: absolute;
        right: -20%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transform-origin: right;
        transition: right 300ms ease-in-out;
        text-align: center; 
        i {
            margin-top: 20%;
            font-size: 1.8rem;
            color: white;
            transform: rotate(360deg);
            transition: transform 500ms; 
        }
    }
   
}
