.receptionbox__btn {
    margin: 1.2rem auto;
    width: 11rem;
    border-radius: 100vw;
    text-align: center;
    padding: 0.8rem; 
    background: linear-gradient(170deg, hsla(310, 81%, 70%, 1) 0%, hsla(272, 65%, 61%, 1) 80%);
    color: $white;
    font-size: 0.8rem; 
    @include shadow-effect;
}

.stepbtn {
    width: 95%;
    background-color: $grey-xlight;
    border-radius: 20px;
    padding: 0.5rem;
    @include shadow-effect;   
}

.menu-btn {
    background-color: $white;
    width: 100%;
    border-radius: 20px;
    padding: .6rem 0 .3rem .4rem ;
    margin: 0.5rem;
    @include shadow-effect; 
    position: relative;
}