.card {
    border-radius: 25px;
    width: 100%;
    @include shadow-effect;
    p {
        padding: 0.3rem;
        margin: 0;
        font-weight: 300;
    }
    h4 {
        font-weight:500;
        padding: 0.2rem;
    }
    &__img {
        width: 100%;
        height: 8rem;
        position: relative;
        img {
            object-fit: cover;
            border-radius: 25px 25px 0 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }
    &__new {
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding:.3rem .6rem;
        background: darken($color-tertiary, 10%);
        color: darken($color-tertiary, 50%);
        font-weight: 400;
        z-index: 1;
     }
    &__body {
        width: 100%;
        background-color: $white;
        border-radius: 0 0 25px 25px;
        padding: .5rem;
        position: relative;
    }
    &__title {
        margin: 0;
        padding:0;
    }
    &__heart {
        position:absolute;
        right: 1.1rem;
        bottom: 1.3rem;
        font-size: 1.4rem;
        i {
         z-index: 1;
         position:relative;
            &:hover::after {
                opacity: 1;
            }
            &::after {
               position: absolute;
               z-index: -1;
               opacity: 0;
               content: "\f004";
               transition: opacity 300ms ease-in-out ;
               top: 0;
               bottom: 0;
               left: 0;
               right: 0;
               color: $color-primary;
               font-weight: 700;
           }
        }
        
    }   
}