.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: content-appear 3s ease-in-out both;
}

.border-frame1 {
  width: 135px;
  height: 135px;
  padding: 4px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-secondary;
  animation: square-spinning 3s ease-in-out 0s infinite alternate;
}

.border-frame2 {
  width: 135px;
  height: 135px;
  padding: 4px;
  left: -115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-tertiary;
  transform: rotate(45deg);
  animation: square-spinning2 3s ease-in-out 0s infinite alternate;
}

.inside-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-footer;
  padding-right: 2px;
  padding-top: 2px;
  &__ball {
    padding-top: 20px;
    border-radius: 10vw;
    width: 20px;
    height:20px;
    background-color: $color-primary;
  }
  &__ball1 {
    animation: beat .4s ease 0s infinite alternate;
  }
  &__ball2 {
    animation: beat .4s ease .2s infinite alternate;
  }
  &__ball3 {
    animation: beat .4s ease .4s infinite alternate;
  }
}