* {
    box-sizing:border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;
}
h1 {
    font-size: 1.4rem;
}

h2 { 
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
    font-size: 0.8rem;
}
p {
    font-size: 0.8rem;
}
a {
    color: black;
}