.heading-img {
    @include flex(row, center, center, nowrap);
    &__container {
        width: 100%;
        height: 11rem;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}


.restaurant-name {
    @include flex(row, start, center, nowrap);
    background: $grey-xlight;
    border-radius: 30px 30px 0 0;
    padding-top: 1rem;
    margin-top: -50px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    h2 {
        font-family:'shrikhand', cursive;
        padding: .4rem;
        margin-left: .5rem;
        margin-bottom: .5rem;;
    }
    i {
        font-size: 1.5em;
        position:absolute; 
        right: 2rem;
        bottom: .6rem;
        
    }
}

.menu {
    background-color: $grey-xlight;
    margin: 0;
    padding-top: 1rem;
}
.entry {
    margin-bottom: 1rem;;
    h4 {
        margin-left: .8rem;
        font-weight: 400;
    }
    &__list {
      @include flex(column, center, center, nowrap);
      margin: .3rem .8rem;  

    }
    span {
        margin: 0.2rem;
        padding: 0;
        font-size: 0.8rem;
        font-weight: 500;
    }
    p {
        margin: 0.2rem;
        padding: .1rem 0;
        font-size: 0.7rem;
        max-width: 80%;
        color: grey;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .price {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }
   
}
.dessert {
    h4 {
        margin-left: .8rem;
        font-weight: 400;
    }
    &__list {
      @include flex(column, center, center, nowrap);
      margin: 0rem .8rem;  

    }
    span {
        margin: 0.2rem;
        padding: 0;
        font-size: 0.8rem;
        font-weight: 500;
    }
    p {
        margin: 0.3rem;
        font-size: 0.7rem;
        max-width: 80%;
        color: grey;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .price {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }
}
.main-course {
    margin-bottom: 1rem;
    h4 {
        margin-left: .8rem;
        font-weight: 400;
    }
    &__list {
      @include flex(column, center, center, nowrap);
      margin: .3rem .8rem;  

    }
    span {
        margin: 0.2rem;
        padding: 0;
        font-size: 0.8rem;
        font-weight: 500;
    }
    p {
        margin: 0.3rem;
        font-size: 0.7rem;
        max-width: 80%;
        color: grey;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .price {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }
}
.order {
    @include flex(row, center, center, nowrap);
    background-color: $grey-xlight;
    margin: 0;
    padding-bottom: .7rem;
}

/* -- responsive Large screen--*/

@media screen and (min-width: 1400px) {
    .restaurant-name {
        max-width: 1400px;
        margin: -50px auto;
    }
    .menu {
        max-width: 1400px;
        margin: 2rem auto 0 auto;
    }
    .order {
        max-width: 1400px;
        margin: 0 auto;
    }
}
