/* ---Color principal --- */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/* ---background-color ---*/
$color-footer: #353535;
$grey-xlight: #F7F7F7;
$grey-light: #EAEAEA;
$white: #FFFFFF; 

