/* ---Color principal --- */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/* ---background-color ---*/
$color-footer: #353535;
$grey-xlight: #F7F7F7;
$grey-light: #EAEAEA;
$white: #FFFFFF; 
$linear-btn: linear-gradient(170deg, hsla(310, 81%, 70%, 1) 0%, hsla(272, 65%, 61%, 1) 80%);
$linear-btn-light: linear-gradient(170deg, rgb(243, 130, 224) 0%, rgb(168, 108, 220) 80%);

/* --- Responsive ---*/

$breackpoint:(
    mobile: 600px,
    tablet: 768px,
    desktop: 992px,
);


