%menu {
span {
    margin: 0.2rem;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
p {
    margin: 0.2rem;
    padding-bottom: 0.15rem;
    padding: .1rem 0;
    font-size: 0.7rem;
    width:80%;
    min-width: 60%;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: width .4s;
}
.price {
    position: absolute;
    right: 1rem;
    top: 1.7rem;
    transition: transform 300ms; 
}
}